



<div class="card" >
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Sales Man</h4>
            {{order.sales_man}}
        </div>
    </div>
    <div class="card-header d-flex justify-content-between">
        
        <div class="header-title">
            <h4 class="card-title">Customer</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 id="customerName">Customer Name: {{order.customer.name}}</h5>
                <p id="customerContact">Company Name: {{order.customer.Company}} <br> Contact:
                    {{order.customer.phone}}</p>
            </div>
            <div class="col">
                <!-- <p><strong>GST: {{order.customer.gst_number}}</strong> <br> -->
                <address id="customerAddress">
                    {{order.customer.city}} <br>
                    {{order.customer.state}} <br>
                    {{order.customer.country}} <br>


                </address>
                </p>
            </div>
        </div>
    </div>
</div>