{% extends 'index.html' %}
{% block  content %}
<style>
    /* .m-status-false{
        opacity: .3;
    } */
</style>


<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Unpaid Order List</h4>
                        {% for message in messages %}
                       <div class="alert {{message.tags}} " role="alert">
                           <div class="iq-alert-text"><b>Alert</b> {{message}}</div>
                        </div>
                        {% endfor %}
                        <p class="mb-0"></p>
                    </div>
                    <a href="{%url 'add_category' %}" class="btn btn-primary add-list"><i
                            class="las la-plus mr-3"></i>Add Category</a>
                </div>
            </div>
            <div class="col-lg-12">
                
                <form method="post" action="{% url 'delete_bulk_invoice_pending' %}">
                    {% csrf_token %}
                    <div class="text-right mt-2 mb-2">
                        <button onclick="return confirm('Are You Sure Do You Want To Delete Selected Items?')" type="submit" class="btn btn-danger">Delete</button>
                    </div>
                <div class="table-responsive rounded mb-3">
                    <table class="data-tables table mb-0 tbl-server-info">
                        <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th>
                                    <div class="checkbox d-inline-block">
                                        <input  type="checkbox" id="select-all" aria-checked="false" class="checkbox-input">
                                        <label for="checkbox1" class="mb-0"></label>
                                    </div>
                                </th>
                                <th>Order Number</th>
                                <th>date</th>
                                <th>Bill Amount</th>
                                <th>Payment Status</th>
                                <th>Customer</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="ligth-body">

                            {% for m in order %}
                            
                            <tr >
                                <td class="m-status-false">
                                    <div class="checkbox d-inline-block">
                                        <input type="checkbox" value="{{m.id}}" name="contact_id[]" class="checkbox-input contact-checkbox">
                                        <label for="checkbox2" class="mb-0"></label>
                                    </div>
                                </td>
                                
                                <td class="m-status-false">
                                {{m.invoice_number}}</td>
                                <!-- <td>{{m.code}}</td> -->
                                <td class="m-status-false">{{m.order_date}}</td>
                                <th>{{m.total_amount}}</th>
                                
                                <th>
                                    {% if m.payment_status1 == 'UNPAID' %}
                                    <span class="badge bg-danger">{{m.payment_status1}}</span>
                                    {% elif m.payment_status1 == 'PAID' %}
                                    <span class="badge bg-success">{{m.payment_status1}}</span>
                                    {% elif m.payment_status1 == 'PARTIALLY' %}
                                    <span class="badge bg-warning">{{m.payment_status1}}</span>
                                    {% else %}
                                    <span class="badge bg-dark">UNKNOWN</span>
                                    {% endif %}
                                    
                                </th>
                                <td>
                                    {{m.customer}}
                                </td>
                                <td>
                                    <div class="d-flex align-items-center list-action">
                                        <a href="{%url 'invoice' m.id %}" target="_blank" class="btn btn-sm btn-outline-primary"> Invoice</a>
                                        &nbsp;&nbsp;
                                        <a class="badge bg-success mr-2" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Edit" href="{%url 'POS' m.id %}"><i
                                                class="ri-pencil-line mr-0"></i></a>

                                                <a class="badge bg-danger mr-2" data-toggle="modal"
                                                data-target="#deletemodel{{m.id}}" data-original-title="Delete" href="#"><i
                                                    class="ri-delete-bin-line mr-0"></i></a>
                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="deletemodel{{m.id}}" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
    
                                                        <div class="modal-body">
                                                            Do you want to Delete vendor ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">No</button>
                                                            <a href="{%url 'delete_invoice_pending' m.id%}"
                                                                class="btn btn-danger">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </td>
                            </tr>
                            

                            
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
                </form>
            </div>
        </div>
        <!-- <div class="row justify-content-between mt-3">
            <div id="user-list-page-info" class="col-md-6">
               <span>Showing 1 to 5 of 5 entries</span>
            </div>
            <div class="col-md-6">
               <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end mb-0">
                      {%if contacts.has_previous %} {# whether the previous page exists #}
                      <li class="page-item prev">
                        <a class="page-link" href="?page={{contacts.previous_page_number}}"><i
                            class="mdi mdi mdi-chevron-left"></i>Prev</a>
                        {% endif %}
                      </li>
                      {% for page_num in contacts.paginator.page_range %}
                      <li class="page-item {% if page_num == contacts.number %}active{% endif %}">
                          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                      </li>
                      {% endfor %}
                      {%if contacts.has_next %} {# whether the next page exists #}
                      <li class="page-item last">
                        <a class="page-link" href="?page={{contacts.next_page_number}}"><i class="mdi mdi mdi-chevron-right"></i>Next</a>
                      </li>
                      {% endif %}
                  </ul>
               </nav>
            </div>
         </div> -->
        <!-- Page end  -->
    </div>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const selectAllCheckbox = document.getElementById('select-all');
        const contactCheckboxes = document.querySelectorAll('.contact-checkbox');
  
        selectAllCheckbox.addEventListener('change', function () {
            const isChecked = this.checked;
            contactCheckboxes.forEach(function (checkbox) {
                checkbox.checked = isChecked;
            });
        });
  
        contactCheckboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                const allChecked = [...contactCheckboxes].every(function (checkbox) {
                    return checkbox.checked;
                });
                selectAllCheckbox.checked = allChecked;
            });
        });
    });
    
  </script>
{% endblock %}